/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color:inherit;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general style */

body {
    font-family: "Graphik", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: #FFF;
    color: #222;
    background-attachment: fixed;
}


/* header style */
header {
    color: #FFF;
    height: 70vh;
    width: 100vw;
}

.video > video{
    position : absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
}

.header {
    z-index: 7;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.bienvenue {
    font-size: 1.5em;
}

.trouvez {
    font-size: 3em;
    font-weight: bold;
    padding:1%;
}

.examples {
    font-size: 0.6em;
    padding-right: 35%;
    padding-top: 1%;
}
.content {
    position: relative;
    overflow: hidden;
    width: 98.9vw;
}

.wrapper {
    z-index: 7;
    position: relative;
}

.menu {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display : flex;
    align-items: center;
}

.search > form > input{
    width: 47vw;
    height: 10vh;
    background: inherit;
    border: 2px solid white;
    border-radius: 36px;
}

ul.nav {
    position: relative;
    display: flex;
    justify-content: right;
}

ul.nav > li {
    padding:1%;
}
.avis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin: 1%;
    line-height: 1.2em;
}

.avis > ul > li:first-child {
    display: flex;
    justify-content: center;
}

.avis > ul > li:nth-child(2) {
    display: flex;
    justify-content: center;
}

.avis img {
    width: 20%;
}

.gradient{
    position: absolute;
    width: 100vw;
    height:71vh;
    background: linear-gradient(
        113deg, rgba(255,0,0,0.7) 0%,rgba(0,5,120,0.7) 50%);
    z-index: 6;
}

/* formation style */
.formation {
    background-color: #f8f8f8fa;
    height: 70vh;
}

.formationtext {
    text-align:center;
    color:#F83131;
    font-size: 145%;
    font-weight:700;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right:auto;    
    padding-top: 8%;
}

.formationlist > ul {
    display: flex;
    justify-content:center;
}

.formationlist > ul > li {
    padding: 10px;
    margin: 5px;
    background-color: #FFF;
}

.formationlist > ul > li > a:link {
    color: #222;
    text-decoration: none;
}
.formationlist > ul > li > a > h4 {
    font-size: 100%;
    font-weight: 700;
    padding: 10px;
}
.formationlist > ul > li > a > img {
    max-width: 18vw;
    max-height: 39vh;
}

/* financement style */

.financement {
    background-color: #eee8e896;
    height: 400px;
}

.financement > h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.financement > p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.financementlist > ul {
    display: flex;
    justify-content: center;
}

.financementlist > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
    margin: 1%;
    background-color: #FFF;
}


.financementlist > ul > li > a:link {
    color: #222;
    text-decoration: none;
}

.financementlist > ul > li > a:hover {
    background-color: #f8f8f8b9;
}

.financementlist > ul > li > a > h5 {
    color: red;
    font-size: 0.75em;
    padding-top: 15px;
    padding-bottom: 5px;
}

.financementlist > ul > li > a > h6 {
    font-size: 100%;
    font-weight: 700;
    max-width: 12vw;
    padding-bottom: 20px;
}

.financementlist > ul > li > a > img {
    max-width: 17vw;
    max-height: 34vh;
}

/* transformation style */

.transformation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f8f8fa;
    height : 100vh;
}

.transformation > img {
    max-height: 70vh;
    max-width: 45vw;
   /* padding: 60px;*/
}

.transformationdigitale {
    max-width: 30vw;
}

.transformationdigitale > h5 {
    color: #F83131;
    font-size: 0.75em;
}

.transformationdigitale > h4 {
    font-size: 1.35em;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.transformationdigitale > ul {
    display: flex;
    flex-wrap: wrap;
}

.transformationdigitale > ul > li {
    line-height: 160%;
}

.transformationdigitale > ul > li > a:link {
    text-decoration: none;
    color: #222;
}

.transformationdigitale > ul > li > a:hover {
    text-decoration: none;
    color:#050c41;
}

.transformationdigitale > ul > li > a {
    font-size: 0.6em;
    margin: 5px 0.3em 5px 0;
    padding: 5px;
    color: #F83131;
    border: 1px solid #F83131;
    border-radius: 30px;
}

.transformationdigitale > p {
    margin-top: 15px;
    color: #606060;
    line-height: 160%;
}

.savoirplus {
    border: 1px solid rgba(0, 0, 0, 0);
    color:#FFF;
    background-color: #F83131;
    padding: 5px;
    max-width: 150px;
    margin-top: 15px;
}

.savoirplus > a:link {
    text-decoration: none;
}

.savoirplus > a {
    color: #FFF;
    padding-left: 5px;
}

.savoirplus:hover {
    background-color: #050c41;
}

/* deploiements style */

.deploiements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f8f8fa;
    height : 100vh;
}

.deploiements > img {
    max-height: 70vh;
    max-width: 45vw;
   /* padding: 60px;*/
}

.deploiementsstrategiques {
    max-width: 30vw;
}

.deploiementsstrategiques > h5 {
    color: #F83131;
    font-size: 0.75em;
}

.deploiementsstrategiques > h4 {
    font-size: 1.35em;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.deploiementsstrategiques > ul {
    display: flex;
    flex-wrap: wrap;
}

.deploiementsstrategiques > ul > li {
    line-height: 160%;
}

.deploiementsstrategiques > ul > li > a:link {
    text-decoration: none;
    color: #222;
}

.deploiementsstrategiques > ul > li > a:hover {
    text-decoration: none;
    color:#050c41;
}

.deploiementsstrategiques > ul > li > a {
    font-size: 0.6em;
    margin: 5px 0.3em 5px 0;
    padding: 5px;
    color: #F83131;
    border: 1px solid #F83131;
    border-radius: 30px;
}

.deploiementsstrategiques > p {
    margin-top: 15px;
    color: #606060;
    line-height: 160%;
}

/* bulle style */

.bulle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f8f8fa;
    height : 100vh;
}

.bulle > img {
    max-height: 70vh;
    max-width: 45vw;
   /* padding: 60px;*/
}

.bulleinnovation {
    max-width: 30vw;
}

.bulleinnovation > h5 {
    color: #F83131;
    font-size: 0.75em;
}

.bulleinnovation > h4 {
    font-size: 1.35em;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.bulleinnovation > ul {
    display: flex;
    flex-wrap: wrap;
}

.bulleinnovation > ul > li {
    line-height: 160%;
}

.bulleinnovation > ul > li > a:link {
    text-decoration: none;
    color: #222;
}

.bulleinnovation > ul > li > a:hover {
    text-decoration: none;
    color:#050c41;
}
.bulleinnovation > ul > li > a {
    font-size: 0.6em;
    margin: 5px 0.3em 5px 0;
    padding: 5px;
    color: #F83131;
    border: 1px solid #F83131;
    border-radius: 30px;
}

.bulleinnovation > p {
    margin-top: 15px;
    color: #606060;
    line-height: 160%;
}

/* cyber style */

.cyber {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f8f8fa;
    height : 100vh;
}

.cyber > img {
    max-height: 70vh;
    max-width: 45vw;
   /* padding: 60px;*/
}

.cybersecurite {
    max-width: 30vw;
}

.cybersecurite > h5 {
    color: #F83131;
    font-size: 0.75em;
}

.cybersecurite > h4 {
    font-size: 1.35em;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.cybersecurite > ul {
    display: flex;
    flex-wrap: wrap;
}

.cybersecurite > ul > li {
    line-height: 160%;
}

.cybersecurite > ul > li > a:link {
    text-decoration: none;
    color: #222;
}

.cybersecurite > ul > li > a:hover {
    text-decoration: none;
    color:#050c41;
}

.cybersecurite > ul > li > a {
    font-size: 0.6em;
    margin: 5px 0.3em 5px 0;
    padding: 5px;
    color: #F83131;
    border: 1px solid #F83131;
    border-radius: 30px;
}

.cybersecurite > p {
    margin-top: 15px;
    color: #606060;
    line-height: 160%;
}

/* poe style */ 

.poe {
    background-color: #f8f8f8fa;
    display: flex;
    height: 80vh;
}

.poe1 a, .poe2 a{
    padding: 35px;
    height: 80vh;
    width: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF;
    text-decoration: none;
    margin-right: 35px;
    margin-left: 35px;
}

.poe a:hover {
    background-color: #f8f8f8b9;
}

.poe img {
    max-width: 38vw;
    max-height: 79vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.poe h5 {
    color: #F83131;
    font-weight: bold;
}

.poe h4 {
    color: #222;
    font-size: 1.3em;
    font-weight: bold;
}

.poe p {
    color: #606060;
    padding-bottom: 20px;
}

.plus {
    background-color: #F83131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7vw;
    height: 90vh;
}

.plus:hover {
    background-color: #050c41;
}

.plus > a > img {
    width: 80%;
    height: 200%;
    padding-left: 9px;
}

/* m2i style */

.m2i {
    background-color: #f8f8f8fa;
    display: flex;
    flex-flow: row nowrap;
    height : 600px;
    justify-content: center;
    padding: 20px;
}

.m2i > .titre {
    padding: 87px;
}
.m2i h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 360px;
    width: 173px;
}

.m2i > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 70px;
}

.m2i img {
    max-width: 68px;
}

.m2i h4 {
    font-size: 1.4em;
    font-weight: bold;
}

.m2i p {
    color: #606060;
    line-height: 1.6em;
    font-size: 1.2em;
}

/* news style */ 

.news {
    background-color: #f8f8f8fa;
    display: flex;
    height: 600px;
    justify-content: space-between;
}

.news1 a, .news2 a, .news3 a{
    height: 600px; 
    width: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF;
    text-decoration: none;
}

.news a:hover {
    background-color:#f8f8f8b9;
}
.news img {
    max-width: 425px;
    max-height: 315px;
    background-position: center center;
    background-repeat: no-repeat;
    align-self: center;
}

.news h5 {
    color: #F83131;
    font-weight: bold;
    padding-left: 25px;
    margin-top: 30px;
}

.news h4 {
    color: #222;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px;
    padding-bottom: 50px;
}

.news p {
    color: #606060;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* map style */

.carte img {
    width: 98.9vw;
}

/* contact style */

.contacteznous {
    height: 80vh;
}

.background {
    opacity: 0.85;
}

.background > img {
    height: 80vh;
    position: absolute;
    z-index: 1;
    margin: -3px;
}

.contacteznous > .contact {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacteznous  p {
    position: relative;
    z-index: 7;
    font-size: 2.6em;
    padding: 50px;
    width: 45vw;
    color: #FFF;
    font-weight: bold;
}

.contactbutton {
    position: relative;
    z-index: 7;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #F83131;
    padding: 1%;
    max-width: 10%;
    margin-top: 1%;
}

.contactbutton a:link {
    text-decoration: none;
    color:#FFF;
}

.contactbutton:hover {
    background-color: #050c41;
}

.contacteznous > .gradient {
    position: absolute;
    width: 100%;
    height: 80vh;
    background: linear-gradient(
        113deg, rgba(255,0,0,0.7) 0%,rgba(0,5,120,0.7) 70%);
    margin: -3px;
}

/* clients style */

.clients {
    height: 70vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients > h3 {
    font-size: 1.4em;
    font-weight: 1000;
    padding: 20px;  
}

.clientlist {
    display: flex;
    align-items: center;
}

.clientlist img {
    height: 25%;
    width: 75%;
}

/* footer */

footer {
    background-color: #050c41;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.6em;
    color: white;
    padding-top: 2%;
    line-height: 1.6em;
}

footer a:link a:visited{
    text-decoration: none;
    color: #FFF;
}

footer a:hover {
    font-weight: bold;
}

footer h6 {
    font-size: 1.7em;
}

footer .left {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    width: 20%;
}

footer .left img {
    width: 40%;
}

footer .contact {
    display: flex;
    flex-direction: column;
}

footer .social {
    display: flex;
    flex-direction: row;
}

footer p {
    width: 66%;
}
